.mainBlock{
  margin-top: 20px;
  
}
.perHourWeather{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow-x: auto;
    padding: 2px; 
    scrollbar-color: #555 #222;
    height: 140px; 
}

.hourWeather{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px 0;
  min-width: 100px;
}

.hourWeather p{
    font-size: 18px;
}
.hourWeather img{
    display: block;
    width: 60%;
}

.searchBlock{
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    
}
.inputCity{
    margin-right: 4%;
}



.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 28%;
}

.inputCity {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  width: 100%;
  height: 40px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #151515;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.inputCity::placeholder {
  color: #bdbecb;
}

.inputCity:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.inputCity:active {
  transform: scale(0.95);
}

.inputCity:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}




button {
 font-size: 16px;
 position: relative;
 padding: 11px 10px;
 border: none;
 background: #151515;
 transition: all 0.1s linear;
 cursor: pointer;
 border:1px solid #2b2c37;
 box-shadow: 0 0 0 1px #2b2c37, 0 0 25px -17px #000;
 outline: none;
}
button:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}


button span {
  color: #bdbecb;
}
.full-rounded {
 border-radius: 12px;
 font-size: 16px;
}


.mainInfo{
    position: relative;
    margin-top: 40px;
    margin-left: 13%;
    margin-right: 13%;
}




.currentTemp{
  font-size: 3rem;
}
.currentCondition{
  display: inline-block;
  position:relative;
  height: 60px;
  top:13px;
}


.windInfo{
  display:flex;
  margin-top: 15px;
}

.bi-wind{
display: block;
padding-right: 11px;
}

.pressureInfo{
  display: flex;
}
.AppFact_details__icon__d7iOt{
  display: block;
  height: 24px;
  padding-right: 11px;
}

.humidityInfo{
  display: flex;
}
.bi-moisture{
  display: block;
  padding-right: 11px;
}

.uvInfo{
  display: flex;
}
.uv{
stroke: white;
display: block;
padding-right: 7px;
}

.blockInfo{
  margin-bottom: 15px;
  align-items: center;
}

.riceset{
  position: relative;
  display: flex;
  align-items: center;
}

.AppHourlyItem_icon__7R5lC{
  display: block;
  margin-left: 20px;
}

h3{
  margin-top: 15px;
}


.loadingInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.errorText{
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}